<div class="container-nav" style="height: 50px; border-bottom: 1px solid lightgreen;">
    <div class="align-content-center"><img src="images/avatars/chat.png" height="34px" style="z-index: -1;"></div>

    <div class="align-content-center"><h2 id="nav-room" style="color: #86A9E7"></h2></div>
    <div class="align-content-center">
        <p id="nav-nick" style="color: #7F7FD5; font-style: italic; font-weight: bold; font-size: small;">
        </p>
    </div>
</div>